* {
    font-family: monospace;
}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "options view view view"
        "options view view view"
        "options view view view";
}

.options {
    grid-area: options;
    background-color: lightgray;
    padding: 5%;
}

.view {
    grid-area: view;
}

.table2 {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.table2 select {
    width: 50%;
}

.table4 {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
}

.table4 input {
    width: 75%;
}

.header {
    text-align: center;
    padding-bottom: 5px;
}

button {
    width: 100%;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}
